/* this is the colapsable css */
/* the new text highliter */
.btn-link {
    text-decoration: none;
    /* Remove underline */
    font-size: 12px;
}

.highlight {
    background-color: yellow;
}

#display_list::selection {
    background-color: yellow;
    color: black;
}

.confirm-btn {
    position: absolute;
    display: none;
    z-index: 1000;
}

.highlight-container {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
}

.collapsed-title {
    display: none;
    cursor: pointer;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    /* Add padding */
    background-color: #f8f9fa;
    /* Light grey background */
}

.card-header .btn-link {
    font-size: 0.875rem;
    /* Smaller font size */
    text-align: left;
    /* Align text to the left */
}

.btn-group {
    display: flex;
    align-items: center;
}

.btn-remove {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .card-body {
        display: block;
    }

    .btn-collapse {
        display: block;
    }

}



/* for the search button */
.menu {
    position: absolute;
    top: -10px;
    left: 0px;
    padding: 17px 15px;
    width: 50px;
    height: 50px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    white-space: nowrap;
    color: #464448;
    overflow: hidden;
    background: #366CC8;
    border-radius: 50%;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.menu.open {
    background: white;
    border: 1px solid #ccc;
    width: 200px;
    height: 160px;
    border-radius: 2px;
}

.menu.open .menu__button {
    color: #999;
    transform: rotate(45deg);
}

.menu.open .menu__content {
    opacity: 1;
    visibility: visible;
}

.menu__button {
    cursor: pointer;
    font-weight: 400;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 18px;
    right: 15px;
    font-size: 34px;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 12px;
    transition: 0.2s;
    user-select: none;
}

.menu__title {
    font-size: 12px;
    margin: 0 0 13px 0;
}

.menu__content {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    width: 180px;
}

#suggestion {
    display: flex;
    gap: 21px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.box {
    border: 2px solid black;
    padding: 10px;
    border-radius: 12px;

}

.box:hover {
    background-color: #464448;
    color: #f8f9fa;
}


/* for the + popup */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.fade-out {
    opacity: 0;
    animation: fadeIn 3s backwards;

}

.warp {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#search_place {
    position: absolute;
    gap: 12px;
    border-radius: 12px;
    z-index: 9999;


}

/* colapsable end  */

/*  */
.highlight {
    color: white;
    transition: background-color 3s ease;
    /* Optional: Change text color to ensure readability */
}

.current-highlight {
    border: 2px solid black;
    /* Example style for the current highlight */
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.focus_point {
    background-color: yellow;
    color: aliceblue;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


/* customize the css for  the radio button form to make it look like actual buttons */
input[type="radio"] {
    display: none;
}

.radio {
    text-align: left;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.radio:hover {
    background-color: #422781;
    color: #e5edf1;
}

input[type="radio"]:checked+label,
input[type="radio"]:checked+label~input[type="radio"]+label {
    background-color: #422781;
    color: #ccc;
    font-weight: bold;
}

/* Custom CSS for sidebar and main content interaction */
/* Push main content when sidebar is open */
.push-content {
    transition: all 0.3s ease;
}


.pushed_left {
    margin-left: 300px;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

#left_side_slider {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #f8f9fa;
    transition: left 0.3s ease, right 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 56px;
}

#left_side_slider {
    left: -300px;
}



#left_side_slider.show {
    left: 0;
}



#left_side_slider {
    padding: 20px;
    background-color: #343a40;
    color: #fff;
}

#left_side_slider .sidebar-body {
    padding: 20px;
}

.drop-zone {
    max-width: 300px;
    margin-bottom: 10px;
    margin-top: 0;
    height: 100px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed black;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(193, 185, 185, 0.75);
    font-size: 14px;
    text-align: center;
}




.dark-mode {
    transition: all 0.3s;
    background-color: rgb(74, 71, 71);

    .dropdown-menu {
        background-color: #696e72;
        color: #fff;
    }

    .modal-content {
        background-color: #696e72;
        color: #fff;
    }

    section {
        color: #343a40;
    }

    .opener-container {
        background-color: #696e72;

    }

    .middle {
        color: white;
    }

    #left_side_slider,
    #right_side_slider {
        background-color: #696e72;
        color: white;
    }

    .card,
    .card-header {
        background-color: #343a40;
        color: #fff;

    }

    .user {
        background-color: #eff3f7;
        color: #141414;
    }

}


.chatbot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 75%;
}

.chatbot-message.user {
    background-color: #f1f1f1;
    align-self: flex-start;
}

.chatbot-message.bot {
    background-color: #407dff;
    align-self: flex-end;
}

.chatbot-message.loading {
    background-color: #e0e0e0;
    font-style: italic;
    align-self: flex-end;
}

.chat-messages-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
}

.card-body {
    height: 400px;
}

.popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 350px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1050;
}

.popup .modal-content {
    padding: 20px;
    text-align: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    display: none;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    margin-top: 10px;
}