.hover-shadow {
    transition: box-shadow 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.warp {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#search_place {
    gap: 12px;
    border-radius: 12px;
    border: 1px solid gray;
    margin-top: 0;
    margin-right: 10px;
}

#display_list {
    font-family: 'Times New Roman';

}

.highlight {
    color: white;

    transition: background-color 3s ease;
    /* Optional: Change text color to ensure readability */
}

.current-highlight {
    border: 2px solid black;
    /* Example style for the current highlight */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}